// Colors - https://www.crazyegg.com/blog/website-color-palettes/

$brand-color: #379683;
$light-brand-color: #5CDB95;
$alt-brand-color: #03294f;

$dark-color: #212121;

$bg-color: #EDF5E1;
$light-bg-color: #f5f5f5;
$dark-bg-color: #e5e5e5;

$dark-txt-color: #434343;
$txt-color: #778492;
$light-txt-color: #939ea9;
$header-color: #545e69;

$info-color: #31708f;

// POSITION && SIZES

$content-max-width: 1170px;

// Z-INDEX

$overlay-z: 999;
$big-z: 99;
$normal-z: 9;
$small-z: 1;

// Fonts
$main-font: 'Lato', arial, sans-serif;
$header-font: 'Montserrat', sans-serif;

// MEDIA QUERIE BREAKPOINTS

$xs-screen: 460px; // >= 28.75em
$sm-screen: 568px; // >= 35.5em
$md-screen: 768px; // >= 48em
$lg-screen: 1024px; // >= 64em
$xl-screen: 1280px; // >= 80em
$xxl-screen: 1536px; // >= 96em

