// Colors

$darker-brand-color: #3AAA64;
$brand-color: #66cb8c;
$lighter-brand-color: #9FDEB7;
$alt-brand-color: #49519A;

$bg-color: #DAE3E7;
$light-bg-color: #f5f5f5;
$dark-bg-color: #778492;

$txt-color: #434343;
$lighter-txt-color: #778492;
$lightest-txt-color: #939ea9;
$header-color: #545e69;

// POSITION && SIZES

$content-max-width: 1170px;

// Z-INDEX

$overlay-z: 999;
$big-z: 99;
$normal-z: 9;
$small-z: 1;

// Fonts
$main-font: 'Lato', arial, sans-serif;
$header-font: 'Montserrat', sans-serif;

// MEDIA QUERIE BREAKPOINTS

$xs-screen: 460px; // >= 28.75em
$sm-screen: 568px; // >= 35.5em
$md-screen: 768px; // >= 48em
$lg-screen: 1024px; // >= 64em
$xl-screen: 1280px; // >= 80em
$xxl-screen: 1536px; // >= 96em

