// Libs
@import '~pure-css/lib/base.css';
@import '~pure-css/lib/grids.css';

// Custom
@import "constants";
@import "helpers";

body {
  color: $txt-color;
  background-color: $bg-color;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
.pure-g [class *= "pure-u"] {
  font-family: $main-font;
}

h1, h2, h3, h4, h5, h6  {
  font-family: $header-font;
  font-weight: bold;
  color: $lighter-txt-color;
}

p {
  line-height: 22px;
}

h1, h2 {
  color: $header-color;
}

.content {
  max-width: $content-max-width;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid $lighter-brand-color;
  font-style: italic;
}
